#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

main {
  min-height: calc(85vh - 100px); /* Adjust the height as needed */
  padding-bottom: 50px; /* Adjust padding to accommodate the footer height */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url('/header-small.png'); /* Set the correct path */
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Center the background image vertically */
  font-weight: bolder;
  padding: 1rem; /* Add padding to the header */
}

.logo {
  font-size: 4.5rem;
  background: linear-gradient(to right, #000a57, #570035, #574D00, #005722);  /* Example gradient color, adjust as needed */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: large;
}

.nav-links a {
  margin-left: 1rem; /* Add spacing between the links */
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.profile-picture {
  max-width: 10%; /* Set the maximum width to the container width */
  height: auto; /* Maintain aspect ratio */
  border-radius: 50%; /* Optional: make it a circular image */
  margin: 15px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 600px; /* Adjust the maximum width as needed */
}

label {
  margin-bottom: 0.5rem; /* Add spacing between labels */
}

input,
textarea {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem; /* Adjust top margin as needed */
  margin-bottom: 0.5rem; /* Adjust bottom margin as needed */
  box-sizing: border-box;
}

input[type="submit"] {
  margin-top: 1rem; /* Add space above the submit button */
  max-width: 100px;
  border-radius: 10px;
}

.footer {
  width: 100%;
  padding: 1rem;
  text-align: center;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.logo-container a {
  margin: 0 1rem; /* Adjust margin as needed */
}

.logo-container img {
  width: 30px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}
